body{
background-image: url(https://th.bing.com/th/id/OIP.fb6_VD9yY_IkhFD61npfkQHaEK?w=227&h=180&c=7&r=0&o=5&dpr=4.2&pid=1.7);
background-size: cover;
}

nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }

  label{
    color:white;
  }

  #btn {
    background-color: darkolivegreen;
    color:white;
  }

  form {
    padding-top: 80px;
    padding-bottom: 40px;;
  }
  
  .beauty{
    display:flex;
    position:relative;
    flex-wrap: wrap;
  }

  #vist{
    color:white;
  }